<hr class="visible-xs-block" />
<p>
    <a href="mailto:justjasongreen@gmail.com" class="btn btn-primary btn-lg btn-block">
        <i class="fa fa-envelope fa-fw fa-lg"></i><br />
        Email Me
    </a>
</p>
<p class="lead">
    <a href="mailto:justjasongreen@gmail.com">justjasongreen@gmail.com</a>
</p>
<p>
    <a href="tel:+61-456-086-209" class="btn btn-default btn-lg btn-block">
        <i class="fa fa-phone fa-fw fa-lg"></i><br />
        Call Me
    </a>
</p>
<p class="lead">
    <a href="tel:+61-456-086-209">+61 456 086 209</a>
</p>
