@import "bootstrap/variables";

$footer-background-color: $navbar-default-bg;
$footer-border: $navbar-default-border 1px solid;
$footer-color: $navbar-default-color;
$footer-height: $navbar-height;
$footer-padding: $navbar-padding-vertical $navbar-padding-horizontal;
$footer-width: 100%;
